# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw
*.egg-info/
dist/
build/
*.egg
*.spec

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store
utils.py
Secrets.py
Static/*.html
# IDEs
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Logs
logs/

# Vercel
.vercel

# Alpaca API keys
algorithm/Secrets.py