<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="jumbotron text-center">
    <h1>Backtrade Successfully completed</h1>
    <p>Select below whether you would like to see your trade sheet or tear sheet</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Tradesheet</h3>
            <p>View the trade sheet results from your backtrade</p>
            <button type="button" class="btn btn-primary" id="tradesheet-button">Trade sheet</button>
        </div>
        <div class="col-sm-4">
            <h3>Tear sheet</h3>
            <p>View the tear sheet results from your backtrade</p>
            <button type="button" class="btn btn-primary" id="tearsheet-button">Tear sheet</button>
        </div>
    </div>
</div>
